# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Spark logs and temp files
derby.log
metastore_db/
spark-warehouse/

# Streamlit
.streamlit/secrets.toml

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Outputs
outputs/
*.log